@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Geneva, Verdana, sans-serif;
    font-size: 20px ;
}

body {
    background: #111827;
    color: #ffffff;
    line-height: 1.6;
}

/* HEADER */
header {
    text-align: center;
    padding: 70px 20px;
    background: linear-gradient(135deg, #3b82f6, #9333ea);
    color: white;
    font-family:;
}
header h1 {
    font-size: 3.2rem;
    font-weight: 600;
    font-size: 100px;
    font-family:serif;
}
header p {
    font-size: 1.3rem;
    margin-top: 10px;
    font-size: 30px;
    font-family: sans-serif;
}

/* SECTION BASE */
.container {
    width: 85%;
    max-width: 1100px;
    margin: auto;
    padding: 60px 0;
    
}
.container h2 {
    font-size: 2.3rem;
    margin-bottom: 25px;
    text-align: center;
    
}

/* ABOUT */
.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    flex-wrap: wrap;
}
.about-content img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid #3b82f6;
    transition: 0.3s;
    
}
.about-content img:hover {
    transform: scale(1.05);
}
.about-content p {
    font-size: 1.1rem;
}

/* RESUME BUTTON */
.resume-btn {
    display: inline-block;
    padding: 12px 28px;
    background: linear-gradient(135deg, #3b82f6, #2da459);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1.1rem;
    transition: 0.3s;
    margin: auto;
}
.resume-btn:hover {
    box-shadow: 0 0 20px #3b82f6;
    transform: translateY(-5px);
}

#resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* SKILLS */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    
}
.skill-card {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 14px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    border: 2px solid transparent;
    transition: 0.3s;
    background: linear-gradient(135deg, #3b82f6, #2da459);
}
.skill-card:hover {
    transform: translateY(-8px);
    border-color: #3b82f6;
    box-shadow: 0 0 15px rgba(59, 130, 246, 0.5);
}

/* INFO CARDS */
.info-card {
    background: #111;
    padding: 25px;
    border-radius: 16px;
    border-left: 4px solid #3b82f6;
    transition: 0.3s;
    background: linear-gradient(135deg, #3b82f6, background: linear-gradient(135deg, #3b82f6, #2da459););
}
.info-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.4);
}

/* PROJECTS */
.projects-grid {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.project-card {
    background: #111;
    padding: 25px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid transparent;
    background: linear-gradient(135deg, #3b82f6, #9333ea);
}
.project-card:hover {
    transform: translateY(-10px) scale(1.03);
    border-color: #9333ea;
    box-shadow: 0 0 25px rgba(147, 51, 234, 0.5);
}
.project-card .tech {
    color: #3b82f6;
    font-size: 0.9rem;
}

/* CONTACT */
.highlight {
    color: #60a5fa;
}
.social-links {
    display: flex;
    gap: 20px;
    margin-top: 15px;
    justify-content: center;
}
.social-links a {
    text-decoration: none;
    color: #3b82f6;
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.3s;
}
.social-links a:hover {
    color: #9333ea;
    text-shadow: 0 0 10px #9333ea;
}
